APP_NAME=nestjs
APP_PORT = 3000

DB_PORT = 3306
DB_HOST = mysql
DB_USER = root
DB_PASSWORD = sapassword
DB_NAME = multiple_choie

SECRET_KEY=DO NOT USE THIS VALUE. INSTEAD, CREATE A COMPLEX SECRET AND KEEP IT SAFE OUTSIDE OF THE SOURCE CODE.